In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221740 entries, 0 to 221739
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   brand                     221740 non-null  object
 1   model                     221740 non-null  object
 2   color                     221740 non-null  object
 3   registration_date         221740 non-null  object
 4   year                      221740 non-null  int64
 5   price_in_euro             221740 non-null  float64
 6   power_kw                  221740 non-null  int64
 7   power_ps                  221740 non-null  int64
 8   transmission_type         221740 non-null  object
 9   fuel_type                 221740 non-null  object
 10  fuel_consumption_l_100km  221740 non-null  float64
 11  mileage_in_km             221740 non-null  int64
 12  offer_description         221740 non-null  object
 13  length_offer_description  221740 non-null  int64
dtypes: float64(2), int64(5), object(7)
memory usage: 23.7+ MB

In [3]:
df.isna().sum()

brand                       0
model                       0
color                       0
registration_date           0
year                        0
price_in_euro               0
power_kw                    0
power_ps                    0
transmission_type           0
fuel_type                   0
fuel_consumption_l_100km    0
mileage_in_km               0
offer_description           0
length_offer_description    0
dtype: int64

In [4]:
df["brand"].unique()

array(['alfa-romeo', 'aston-martin', 'audi', 'bentley', 'bmw', 'cadillac',
       'chevrolet', 'chrysler', 'citroen', 'dacia', 'daewoo', 'daihatsu',
       'dodge', 'ferrari', 'fiat', 'ford', 'honda', 'hyundai', 'infiniti',
       'isuzu', 'jaguar', 'jeep', 'kia', 'lada', 'lamborghini', 'lancia',
       'land-rover', 'maserati', 'mazda', 'mercedes-benz', 'mini',
       'mitsubishi', 'nissan', 'opel', 'peugeot', 'porsche', 'proton',
       'renault', 'rover', 'saab', 'seat', 'skoda', 'smart', 'ssangyong',
       'toyota', 'volkswagen', 'volvo'], dtype=object)

In [5]:
numeric_columns = df.select_dtypes(include=['number'])  # Select only numeric columns

In [6]:
brand_avg = df.groupby('brand')[numeric_columns.columns].mean().round(2)

brand_avg

,year,price_in_euro,power_kw,power_ps,fuel_consumption_l_100km,mileage_in_km,length_offer_description
brand,,,,,,,
alfa-romeo,2015.58,2015.58,152.95,152.95,6.95,72135.63,32.42
aston-martin,2015.94,2015.94,389.24,389.24,13.40,27623.45,27.20
audi,2015.14,2015.14,156.70,156.70,6.29,111462.65,37.34
bentley,2017.98,2017.98,417.19,417.19,13.02,35531.07,29.73
bmw,2013.38,2013.38,161.84,161.84,6.34,131992.96,32.73
cadillac,2016.92,2016.92,212.75,212.75,10.19,59545.29,33.56
chevrolet,2017.30,2017.30,242.49,242.49,9.44,56110.77,30.61
chrysler,2021.75,2021.75,213.80,213.80,9.04,6508.95,24.20
citroen,2017.82,2017.82,86.73,86.73,5.13,68219.55,33.18
dacia,2018.92,2018.92,76.03,76.03,5.72,49535.33,34.39
daewoo,2002.96,2002.96,64.51,64.51,7.17,145584.29,20.00
daihatsu,2006.19,2006.19,57.63,57.63,5.79,123089.76,23.84
dodge,2020.35,2020.35,298.89,298.89,13.68,33467.31,37.01
ferrari,2015.24,2015.24,468.04,468.04,13.82,24239.41,29.99
fiat,2018.41,2018.41,64.37,64.37,5.32,48129.92,34.06
ford,2016.54,2016.54,108.71,108.71,5.96,83635.51,33.72
honda,2018.36,2018.36,110.85,110.85,5.69,53108.82,33.89
hyundai,2018.12,2018.12,99.01,99.01,5.77,58629.71,34.60
infiniti,2015.35,2015.35,182.13,182.13,8.10,103672.42,33.21
isuzu,2020.12,2020.12,119.45,119.45,7.68,41237.11,36.38
jaguar,2019.55,2019.55,192.72,192.72,6.99,48415.72,36.84
jeep,2019.93,2019.93,147.71,147.71,6.42,41450.28,35.60
kia,2018.89,2018.89,105.40,105.40,5.62,50485.35,36.16
lada,2017.09,2017.09,62.96,62.96,9.20,34361.73,27.78
lamborghini,2018.10,2018.10,486.79,486.79,14.81,20866.20,33.17
lancia,2008.11,2008.11,101.65,101.65,7.19,146014.14,29.23
land-rover,2019.23,2019.23,192.29,192.29,7.17,58903.79,30.26
maserati,2017.49,2017.49,288.00,288.00,11.21,48410.98,29.20
mazda,2018.67,2018.67,110.22,110.22,5.76,53399.59,38.46
mercedes-benz,2013.27,2013.27,159.75,159.75,7.13,121515.83,35.06
mini,2017.62,2017.62,110.29,110.29,5.52,60998.78,33.91
mitsubishi,2019.54,2019.54,89.28,89.28,4.99,41167.45,31.90
nissan,2018.41,2018.41,99.77,99.77,5.90,53564.96,35.57
opel,2015.64,2015.64,90.77,90.77,5.71,85625.33,33.43
peugeot,2017.14,2017.14,92.80,92.80,5.25,71795.11,33.78
porsche,2016.13,2016.13,289.52,289.52,9.01,75382.94,35.32
proton,2000.00,2000.00,70.00,70.00,8.00,93000.00,17.00
renault,2017.08,2017.08,88.90,88.90,5.59,69820.66,34.00
rover,2001.50,2001.50,101.41,101.41,8.10,138370.71,23.91
saab,2003.83,2003.83,126.75,126.75,8.67,188695.30,28.98
seat,2019.20,2019.20,102.79,102.79,5.45,51153.84,36.96
skoda,2018.44,2018.44,102.69,102.69,5.36,68669.09,36.61
smart,2014.23,2014.23,56.09,56.09,4.59,71764.68,35.46
ssangyong,2019.62,2019.62,121.86,121.86,7.21,41142.05,35.85
toyota,2019.21,2019.21,96.24,96.24,4.81,42958.42,35.15
volkswagen,2014.12,2014.12,102.23,102.23,5.97,113033.15,33.86
volvo,2018.33,2018.33,155.37,155.37,5.40,81605.95,37.11

In [7]:
brand_sum = df.groupby('brand')[numeric_columns.columns].sum()

brand_sum

,year,price_in_euro,power_kw,power_ps,fuel_consumption_l_100km,mileage_in_km,length_offer_description
brand,,,,,,,
alfa-romeo,2694831,2694831.0,204497,204497,9292.6,96445337,43342
aston-martin,443507,443507.0,85632,85632,2948.0,6077158,5983
audi,39128023,39128023.0,3042676,3042676,122160.8,2164270217,724937
bentley,799121,799121.0,165209,165209,5156.4,14070302,11772
bmw,35727474,35727474.0,2871916,2871916,112503.8,2342215036,580780
cadillac,237997,237997.0,25104,25104,1202.2,7026344,3960
chevrolet,229972,229972.0,27644,27644,1075.9,6396628,3489
chrysler,40435,40435.0,4276,4276,180.7,130179,484
citroen,6882795,6882795.0,295831,295831,17482.4,232696890,113180
dacia,6048670,6048670.0,227789,227789,17133.4,148407840,103021
daewoo,102151,102151.0,3290,3290,365.6,7424799,1020
daihatsu,361115,361115.0,10373,10373,1041.9,22156156,4291
dodge,547516,547516.0,81000,81000,3706.2,9069641,10029
ferrari,642861,642861.0,149306,149306,4408.9,7732373,9568
fiat,8749790,8749790.0,279024,279024,23048.7,208643194,147633
ford,33545140,33545140.0,1808327,1808327,99199.8,1391276645,560943
honda,1350286,1350286.0,74160,74160,3809.6,35529798,22670
hyundai,11541610,11541610.0,566212,566212,33022.7,335303300,197905
infiniti,173320,173320.0,15663,15663,696.2,8915828,2856
isuzu,315139,315139.0,18634,18634,1197.3,6432989,5676
jaguar,2429521,2429521.0,231845,231845,8410.2,58244110,44321
jeep,3163217,3163217.0,231319,231319,10060.9,64911142,55757
kia,10130796,10130796.0,528910,528910,28223.3,253335468,181444
lada,326769,326769.0,10200,10200,1490.4,5566601,4500
lamborghini,554978,554978.0,133867,133867,4072.4,5738206,9122
lancia,192779,192779.0,9758,9758,690.7,14017357,2806
land-rover,5567029,5567029.0,530130,530130,19770.9,162397742,83440
maserati,1160054,1160054.0,165598,165598,6444.6,27836313,16792
mazda,7830432,7830432.0,427536,427536,22330.7,207137012,149191
mercedes-benz,49204279,49204279.0,3904404,3904404,174292.1,2969846881,856779
mini,7515636,7515636.0,410843,410843,20552.5,227220452,126301
mitsubishi,1472242,1472242.0,65088,65088,3637.8,30011073,23258
nissan,6571946,6571946.0,324862,324862,19215.0,174407514,115807
opel,36589982,36589982.0,1647660,1647660,103723.9,1554356609,606900
peugeot,10305564,10305564.0,474134,474134,26800.8,366801198,172579
porsche,7036309,7036309.0,1010426,1010426,31441.3,263086464,123270
proton,2000,2000.0,70,70,8.0,93000,17
renault,14335372,14335372.0,631784,631784,39707.7,496215398,241636
rover,68051,68051.0,3448,3448,275.3,4704604,813
saab,396759,396759.0,25096,25096,1716.9,37361670,5739
seat,21672127,21672127.0,1103255,1103255,58492.2,549034193,396657
skoda,25359739,25359739.0,1290191,1290191,67342.4,862758497,459932
smart,2324424,2324424.0,64724,64724,5301.9,82816439,40918
ssangyong,581650,581650.0,35096,35096,2075.6,11848910,10325
toyota,14758399,14758399.0,703397,703397,35152.7,313983106,256945
volkswagen,60570617,60570617.0,3074223,3074223,179490.5,3399245934,1018251
volvo,7368933,7368933.0,567272,567272,19728.1,297943307,135494

In [8]:
import csv

brand_sum.to_csv('sum_star_data.csv' , quoting=csv.QUOTE_ALL)
brand_avg.to_csv("avg_star_data.csv", quoting=csv.QUOTE_ALL)